<div id="comments-pending-approval" class="nes-container with-title">
    <h3 class="title">Comments Pending Approval</h3>
    <% pending_comments.each do |comment| %>
      <div class="nes-container">
        <p><%= comment.user.nickname %></p>
        <p><%= comment.body %></p>
        <div id="comments-pending-approval-controls">
	          <%= button_to "Approve", article_approve_comment_path(article_id: comment.article.id, comment: { comment_id: comment.id }) %>
	          <%= button_to "Reject", article_reject_comment_path(article_id: comment.article.id, comment: { comment_id: comment.id }) %>
	      </div>
      </div>
    <% end %>
</div>