<%= form_with url: search_article_path, method: :get do |form| %>
  <div>
    <%= form.text_field :query, class: 'nes-input' %>
  </div>

  <div>
    <%= form.submit t('views.article.search.search_button'), class: 'nes-btn' %>
  </div>
<% end %>