<div class="centered-items">
  <h1 class="centered-text">Search results for <%= query %></h1>

  <%= link_to "Write the very first article!", new_article_path if @articles.empty? %>
  
  <div class="article-cards">
    <%= render partial: 'articles/generate_article_cards', locals: { articles: @articles } %>
  </div>
</div>