<div class="centered-items">
  <h1 class="centered-text">Welcome</h1>
  
  <%= link_to "Write the very first article!", new_article_path if @published_articles.empty? %>

  <div class="article-cards">
    <%= render partial: 'articles/generate_article_cards', locals: { articles: @published_articles } %>
  </div>

  <%= button_to "Write your own!", new_article_path, class: 'nes-btn' if user_signed_in? && @published_articles.any? %>
</div>