<h1>Welcome</h1>

<%= link_to "Write a new article!", new_article_path %>
<ul>
  <% @published_articles.each do |article| %>
    <li>
      <%= link_to article.title, article %>
    </li>
  <% end %>
</ul>