.article-card {
  width: 273px;
  height: 173px;
  max-width: 273px;
  max-height: 173;
  margin: 10px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
}

.article-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}