/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
	font-smooth: never;
	-webkit-font-smoothing : none;
}

.hidden {
	display: none;
}

.centered-text {
	text-align: center;
}

/* general */
.col-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;

	max-width: 1200px;
	margin: 0 auto;
}

.section-border {
	border-style: outset;
}

.footer-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;

	align-items: center;
}

.pad-top {
	padding-top: 15px;
}

.footer-section {
	align-items: center;
	justify-content: space-around;
}

/* flashes */
.notice {
	background-color: cyan, ;
	color: black;
}

.alert {
	background-color: red;
	color: black;
}


/* nav */
.nav-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
}

.nav-item {
	color: black;
	font-family: fantasy;
	border-style: dotted;
}

.nav-item:hover {
	color: pink;
}